TreintjeApp/Connected Services/ServiceReference1/Treintijden1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TreinTijden" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TreinTijden" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" type="xs:boolean" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Long" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="ArrayOfVertrektijdInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VertrektijdInfo" nillable="true" type="tns:VertrektijdInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVertrektijdInfo" nillable="true" type="tns:ArrayOfVertrektijdInfo" />
  <xs:complexType name="VertrektijdInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EindBestemming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RitNummer" type="xs:int" />
      <xs:element minOccurs="0" name="RouteTekst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TreinSoort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VertrekSpoor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VertrekSpoorWijziging" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="VertrekTijd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VertrekVertragingTekst" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VertrektijdInfo" nillable="true" type="tns:VertrektijdInfo" />
</xs:schema>